@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

*{
  font-family: 'Press Start 2P';
  color: #212529;
  line-height: 1.5;
  cursor: url('cursor.png'), auto;
}

button{
  padding: 5px 10px;
  outline: none;
  color: #000;
  box-shadow: 0 4px 0 #000, 0 -4px 0 #000, 4px 0 #000, -4px 0 0 #000, inset -4px -4px 0 grey, inset 4px 4px #C4C4C4;
  background: #A3A3A3;
}

#main{
  display: flex;
  flex-direction: column;
  margin: 20px;
}

#menuBtn{
  align-self: flex-end;
  margin-bottom: 6%;
}

#menu{
  margin: 15px;
  display: flex;
  flex-direction: column;
}

#closeMenu{
  align-self: flex-end;
  font-size: 0.8em;
  margin-top: 10px;
  color: #000;
}

#skillForm{
  margin: 20px;
}

#skillForm button{
  margin-top: 20px;
}

/* ------------------------------- */

.skill{
  display: flex;
  align-items: center;
}

.skill-progress{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.progressbar{
  height: 2.8rem;
  width: 40%;
  border-radius: 5px;
  margin-bottom: 1rem;
  background: #e0dcd9;
}

.progress{
  height: 2.8rem;
  border-radius: 5px 0 0 5px;
  display: block;
  background: green;
  width: 0;
}

.label{
  margin-left: 20px;
  width: 30%;
}

/* --------------------------------------------------------------- */
.battles{
  display: flex;
  flex-direction: column;
  margin-left: 5px;
}

.battle{
  display: flex;
  align-items: flex-end;
  margin-bottom: 25px;
}

.battles button{
  margin-right: 15px;
}

.battle-description{
  width: 30%;
}

#add-battle{
  align-self: flex-start;
}